.App-content {
    padding: 1.2rem;
    display: flex;
    gap: 2rem;
}

.App-content > div:nth-child(2) {
    flex: 1;
}

@media screen and (max-width: 996px) {
    .App-content {
        flex-direction: column;
    }
}
