.App-header {
    padding: 0.6rem 1rem;
    background-color: #3d3b4f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.App-header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.App-header-left > img {
    border-radius: 50%;
}

.App-header > .App-header-left > .App-header-title {
    color: var(--bg-white-color);
    margin-left: 1.2rem;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.App-header-right {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.App-header-right > a {
    color: var(--bg-white-color);
}
