.Article {
    border-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    width: 100%;
    max-width: 45rem;
    background-color: var(--bg-color-article-light);
    position: relative;
    margin: 1rem 0;
}

pre,
code {
    border-radius: 1.2rem;
}
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    width: 100%;
    height: 19rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 0.4rem;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
}

@media screen and (max-width: 500px) {
    .banner {
        height: 9rem !important;
    }
    iframe[type="website"] {
        /* display: none !important; */
    }
}
.content {
    padding: 1.2rem;
}
.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time > div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.readMoreBtn {
    text-align: center;
    margin: 1.2rem 0;
}
.button {
    outline: none;
    border: none;
    background-color: var(--text-primary-color);
    color: var(--bg-white-color);
    padding: 0.4rem;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    width: 6rem;
}

.article {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}
.article > div {
    line-height: 2rem;
}
.article-full > div {
    line-height: 2rem;
}

h3 {
    border-bottom: 0.2rem solid #14b8a6;
    padding: 1rem 0 0.4rem 0;
    margin-bottom: 0.5rem;
    font-size: larger;
}
.article-full {
    height: max-content;
    white-space: pre-wrap;
    letter-spacing: 0.2rem;
}

.article img {
    border-radius: 1rem;
}

.article-full img {
    border-radius: 1rem;
}

.article iframe {
    border-radius: 1rem;
    width: 100%;
    height: 20rem;
}

.article-full iframe {
    border-radius: 1rem;
    width: 100%;
    height: 20rem;
}

blockquote {
    border-left: 0.5rem solid var(--quote-border-color);
    padding-left: 0.5rem;
    border-radius: 0.2rem;
}

iframe {
    outline: none;
    border: none;
    background-color: #fff;
}

a {
    color: #0ea5e9;
}
