.porfilo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
}

.flex-clo {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border: 1px solid #eee;
}

.porfilo > label {
    font-weight: 500;
    color: var(--text-primary-color);
}

.outlinks {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
