.weatherBox {
    padding: 0 2rem 2rem 2rem;
    border-radius: 1.2rem;
    border: 1px solid #eee;
    background-color: var(--bg-white-color);
    color: var(--text-primary-color);
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
    flex: 3;
    height: fit-content;
}

.weatherService {
    font-size: 0.8rem;
}

.weatherHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherIcon {
    display: flex;
    padding: 2rem 0;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.icon {
    position: relative;
    font-size: 8rem;
}

.temp {
    font-size: 4rem;
    font-weight: 700;
}

.temp::after {
    content: "℃";
    font-size: 2rem;
}

.weatherInfos {
    display: flex;
    flex-direction: column;
}

.weatherInfos .text {
    font-size: 1.5rem;
}

.rotate {
    animation: rotate 2s linear infinite;
}

.refreshW {
    color: var(--quote-border-color);
    float: right;
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* 从 0 度开始旋转 */
    }

    to {
        transform: rotate(360deg);
        /* 旋转到 360 度 */
    }
}

.weatherDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.weatherDetails .detailItem {
    display: flex;
    flex-direction: column;
}

.detailItem .field {
    font-size: 0.8rem;
    color: #555050;
}

.detailItem .val {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.detailItem .val::after {
    content: attr(data-unit);
    color: #525252;
    margin-left: 0.2rem;
    font-size: 0.8rem;
}
