.weatherBox {
    padding: 0 2rem 2rem 2rem;
    border-radius: 1.2rem;
    border: 1px solid #eee;
    background-color: var(--bg-white-color);
    color: var(--text-primary-color);
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
    flex: 3;
}

.w-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.icon {
    position: relative;
}

.icon::after {
    content: attr(data-text);
    display: block;
    font-size: 2rem;
    position: absolute;
    right: -2rem;
    top: 4rem;
}

.temp {
    font-size: 4rem;
    position: relative;
    top: -1rem;
    font-weight: 700;
}
.temp::after {
    content: "℃";
    font-size: 2rem;
}
.infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.infos .item {
    display: flex;
    flex-direction: column;
}
.item .field {
    font-size: 0.8rem;
    color: #555050;
}
.item .val {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 600;
}
.item .val::after {
    content: attr(data-unit);
    color: #525252;
    margin-left: 0.2rem;
    font-size: 0.8rem;
}
