:root {
    --text-primary-color: #252a34;
    --bg-white-color: #fff;
    --transition-speed: 0.3s;
    --bg-color-light: #f3f9f1;
    --text-color-dark: #fff;
    --bg-color-article-dark: #3d3b4f;
    --bg-color-article-light: #e0f0e9;
}

@font-face {
    font-family: "qiantumark";
    src: url(./fonts/千图马克手写体.ttf) format("truetype");
}
body {
    margin: 0;
    font-family: "Josefin Sans", "qiantumark", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color-light);
    color: var(--text-primary-color);
    height: 100dvh;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-color-light); /* Default text color */
    transition: background-color var(--transition-speed),
        color var(--transition-speed); /* Smooth transition */
}

.dark-mode {
    background-color: var(
        --text-primary-color
    ) !important; /* Dark mode background color */
    color: var(--text-color-dark) !important;
}
.dark-mode .Article {
    background-color: var(--bg-color-article-dark);
}
code {
    font-family: Sans Mono, sans-serif;
    font-size: 1.4rem;
}

@media screen and (max-width: 996px) {
}
